<!DOCTYPE html>
<html>
<head>
	<title>Add Data</title>
     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
     
</head>
<body>
    <div class="container">
    <h2><marquee> REGISRATION FORM </marquee></h2>
    <form action="#" method="post">
    	Name<input type="text" name="name"><br><br>
    	SurName<input type="text" name="surname"><br><br>
    	Roll Number<input type="text" name="roll_no"><br><br>
    	Mobile Number<input type="text" name="mobile"><br><br>
    	Branch<input type="text" name="branch"><br><br>

    	 <input type="submit" value="register">
    </form>
</body>
</html>